[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "implot"]
	path = implot
	url = https://github.com/epezent/implot
[submodule "ImGuiFileDialog"]
	path = ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog

